<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <title><%= current_page.data.title %></title>
    
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= yield_content :project_css %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="header">
      <div class="welcome cf">
        <h1><%= link_to 'Playdate', '../index.html' %></h1>
        <h5>Experiments from the nadir.</h5>
      </div><!-- .welcome -->
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <%= javascript_include_tag  "all" %>
</html>